.preview-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://live.staticflickr.com/65535/51411120286_478d926216_o.jpg);
    background-position: center;
    background-size: cover;
    width: 80%;
    /* height: 100%; */
    margin: 2%;

}

.recipe-added-message-div {
    height: 100%;
    width: 100%;
}

.recipe-added-message-text {
    font-family: 'Playball', cursive;
    text-align: center;
    font-size: 60px;
    padding-bottom: 50%;
    padding-top: 15%;
}

.return-home-button-div {
    margin: 2%;
}

.return-home-button {
    background-color: green;
    padding: 2% 1% 2% 1%;
}
