#edit-memory-form-div.memory-form-div {
    display: flex;
    /* flex-direction: column-reverse; */
    max-width: 90%;
    min-width: 100px;
    margin: 0;
    justify-content: center;
    /* justify-content: space-evenly;*/
    align-items: center;
    /* border: 2px solid purple; */
}

.memory-form {
    display: grid;
    justify-content: center;
}

.edit-memory-errors-div {
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 5%;
    text-align: center;
}

.memory-edit-button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin-right: 16%;
    margin-left: 16%;
    background-color:rgb(58, 95, 125);
    color: bisque;
    margin-bottom: 2%;
}

.edit-memory-input {
    margin-bottom:0;
    background-color: bisque;
    margin-bottom: 5%;
}
