
.edit-and-delete-recipe-div {
    /* border: 5px solid purple; */
    /* padding: 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 98%;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.recipe-heading-div {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(58, 95, 125);
    border: 35px solid rgb(173, 96, 68);
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;

}

.recipe-title-div {
    width: 80%;
}

.recipe-title-text {
    /* padding-bottom: 1%; */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 60px;
    text-align: center;
    background-color: bisque;
    padding: 1% 10% 1% 10%;
    /* width: 80%; */
}

.recipe-author-text {
    font-family: 'Playball', cursive;
    font-size: 35px;
    padding-bottom: 5%;
    text-align: center;
}

.recipe-description-div {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.recipe-description-text {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 2%;
    font-size: 35px;
    text-align: center;
    font-style: italic;
}

.recipe-photos-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    /* background-color: pink; */
    background-image: url(https://live.staticflickr.com/65535/51411489576_5ea46e0433_t.jpg);
    border: 15px solid rgb(173, 96, 68);
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    transition: 1s ease;
    box-sizing: border-box;
}

.one-recipe-food-img-div {
    /* width: 45%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    max-height: 100%;
    ;
}

.card-img-div {
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-recipe-food-img  {
    width: 80%;
    /* border-radius: 5px; */
    border: 25px solid bisque;
    /* height: auto; */
}

.single-recipe-card-img {
    width: 80%;
    /* border-radius: 5px; */
    border: 25px solid bisque;
}

@supports(object-fit: cover) {
    .food-img-div img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .card-img-div img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.card-img-div:hover, .one-recipe-food-img-div:hover {
    transform: scale(1.25);
    height: 100%;
    /* border: 1px solid rgb(58, 95, 125); */
}

/* .ingredients-list-div, .directions-list-div {
    /* border: 1px solid black; */
    /* margin: 10px;
    padding: 10px; */


.one-recipe-ingredient-directions-div {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: rgb(173, 96, 68);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1%;
}

.ingredients-list-div {
    width: 20%;
    background-color: bisque;
    /* margin-left: 2%;
    margin-right: 1%; */
    padding: 3%;
    min-width: 180px;

}

.directions-list-div {
    width: 60%;
    background-color: bisque;
    /* background-color: green; */
    /* margin-right: 2%;
    margin-left: 1%; */
    padding: 3%;
}

.one-recipe-ingredients-title-text, .one-recipe-directions-title-text {
    font-family: 'Playball', cursive;
    font-size: 40px;
}

.one-recipe-ing-dir-text {
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: .5%;
    padding-bottom: .5%;
    overflow: auto;
}


.edit-full-recipe-div {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.click-edit-div {
    background-color: rgb(173, 96, 68);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 1%;
}

.edit-recipe-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-recipe-button {
    padding: 1%;
    border: 1px solid rgb(58, 95, 125);
    border-radius: 5px;
    width: 30%;
    font-size: 20px;
    background-color:rgb(58, 95, 125);
    color: bisque;
    transition: 1s ease;
}

.edit-recipe-button:hover {
    transform: scale(1.05);
    background-color: rgb(58, 95, 125, .8);
}

.close-recipe-edit-button-div {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

.one-recipe-edit-recipe-form-div {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.one-recipe-edit-ingredient-form-div {
    width: 45%;
    margin: 2%;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid rgb(58, 95, 125);
}

.one-recipe-edit-directions-form-div {
    width: 45%;
    margin: 2%;
}

.session-memory-div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: rgb(173, 96, 68);
}

.login-to-share-memory-div {
    border: 5px solid black;
    display: flex;

}

.login-to-share-memory-text {
    font-family: 'Playball', cursive;
    font-size: 45px;
    text-align: center;
    padding: 2%;
}

.memory-scroll-div {
    display: flex;
    /* overflow: hidden; */
}

.memory-scroll-div {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    margin-top: 1%;

}

.memory-div {
    padding-top: 5%;
}

.memory-scroll-div > .memories-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: flex-end; */
    width: 15%;
    min-width: 200px;
    height: 300px;
    /* border: 6px solid red; */
    margin-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(173, 96, 68);
}

.delete-memory-button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin-bottom: 5%;
    background-color:rgb(58, 95, 125);
    color: bisque;

}

.delete-recipe-button {
    /* background-color: rgb(58, 95, 125); */
    background-color: bisque;
    align-self: flex-end;
    /* margin-bottom: 2%; */
    /* margin-top: 2%; */
    border: 1px solid black;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    transition: .5s ease;
    border-radius: 5px;
    padding: 1%;
    /* border-radius: 5px; */
}

.delete-recipe-button:hover {
    transform: scale(1.05);
}
