.ingredient-form-div {
    /* border: 2px solid green; */
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.create-ingredient-intro-text {
    font-family: 'Playball', cursive;
    font-size: 50px;
    padding: 0;
    margin:0;
}

.create-ingredient-instruct-text {
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 3%;
    margin:0;
}

.create-ingredient-intro-div > h4 {
    font-style: italic;
}

.ingredient-form {
    width: 90%;
}

.ingredient-form {
    background-image: url(https://live.staticflickr.com/65535/51412298779_d602569205_o.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10% 31.5% 10% 31.5%;
    object-fit: fill;
}

.amt-number {
    font-family: 'Noto Sans JP', sans-serif;


}
.amt-number > input, .ingredient > input {
    background-color: rgb(173, 96, 68);
    /* background-color: rgb(58, 95, 125); */
    border-radius: 5%;
    border: none;
    padding: 2%;
    color: rgba(255, 228, 196, 0.733);
}

.create-ingredient-errors-div {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5%;
    text-align: center;
    /* background-color: rgb(58, 95, 125, .5); */
    font-weight: bold;
    /* color: rgb(173, 96, 68); */
    /* background-color: bisque; */
    font-style: italic;
    font-size: 18px;
    margin-bottom: 1%;
    border-radius: 10px;
}

.create-ingredient-errors-div > div {
    background-color: rgb(173, 96, 68, .9);
    padding: 4%;
}

.create-ingredient-errors-div > div > p {
    color: bisque;
}

.amt-number > input {
    width: 5%;
    min-width: 40px;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.ingredient > input {
    width: 80%;
    margin-top: 1%;
}

.ingredient {
    font-family: 'Noto Sans JP', sans-serif;
}

::placeholder {
    /* color: rgb(58, 95, 125); */
    color: rgba(255, 228, 196, 0.733);
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* .input-div {
    padding: 2%;
} */

.unit-content-div select {
    padding: 2% 15% 2% 2%;
    border-radius: 3px;
    background-color: rgb(173, 96, 68);
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(255, 228, 196, 0.733);
    font-size: 16px;
}

.ingredient-submit-button {
    float: right;
    background-color: rgb(58, 95, 125, .9);
    border-radius: 5px;
    border: 1px solid rgb(58, 95, 125);
    padding: 2%;
    margin-top: 2%;
    transition: ease .25s;
    font-size: 16px;
}

.ingredient-submit-button:hover {
    background-color: rgb(58, 95, 125, .7);
    border-radius: 5px;
    border: 1px solid rgb(58, 95, 125);
    transform: scale(1.05);
}

.ingredient-submit-button[disabled]:hover {
    background-color: rgb(58, 95, 125, .9);
    transform: none;
}
