.nav-bar-div {
    /* background-color: pink; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.title-text {
    /* color: rgb(122, 23, 37); */
    color: rgb(58, 95, 125);
    font-size: 75px;
    margin: 0;
    font-family:'Playball', cursive;
}

.welcome-text {
    font-family: 'Noto Sans JP', sans-serif;
    align-self: flex-end
}

.navbar-text, .demo-link {
    font-family: 'Noto Sans JP', sans-serif;
}

.dropdown-button {
    background-color: rgb(58, 95, 125);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5%;
}

.dropdown-div {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    background-color: rgb(173, 96, 68,.3);
}

.dropdown-div:hover .dropdown-content {
    display: block;
}

.dropdown-div:hover .dropdown-button {
    /* background-color: rgb(198,110,78); */
    background-color: rgb(173, 96, 68);
}
