.main-page-recipe-img-title {
    /* background-color: rgb(173, 96, 68, .7); */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 20%;
    min-width: 250px;
    margin-left: 1%;
    margin-right: 2%;
    /* padding: 4%; */
}

/* .food-img {
    height: 150px;
} */

.recipes-main-text {
    color: rgba(173, 96, 68);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 80px;
}

.home-header-imgs {
    display: flex;
    justify-content: center;
}

.home-header-imgs img {
    max-height: 300px;
    max-width: 400px;
    flex-grow: 1;
}

.motto-div {
    display: flex;
    justify-content: center;
    background-color: rgb(173, 96, 68);
    margin: 1% 2% 1% 2%

}

.motto-text {
    /* background-color: green; */
    padding: 2%;
    font-family: 'Playball', cursive;
    font-size: 55px;
    text-align: center;
}

.all-recipes-div {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    /* max-height: 500px; */
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(173, 96, 68, .8);
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15%, 85%;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: border-box; */
}

.food-img-div {
    /* background-color: rgba(189, 189, 189, 0.95); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 250px;
    max-width: 250px;
    border-radius: 5px;
    margin: 5px;
    transition: .5s ease;
    object-fit: contain;

}

.food-img-div img {
    /* flex: 1; */
    /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* object-fit: fill; */
    /* object-fit: none; */
    /* object-fit: contain; */
    /* object-fit: scale-down; */
}

.food-img-div:hover {
    transform: scale(1.05);
}

.all-recipes-food-title-div {
    width: 70%;
}

.all-recipes-food-title-text {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding-bottom: 10%;
}
