.add-memory-form-div {
    /* flex-direction: row; */
    /* border: 3px solid rgb(168, 167, 167); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url(https://live.staticflickr.com/65535/51411489576_5ea46e0433_t.jpg);
    /* background-color: bisque; */
    padding: 4%;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* margin: 3% .5% 2% .5%; */
    box-sizing: border-box;
    border: 5px solid rgb(58, 95, 125);
    /* margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 300px; */
}

.session-memory-div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: rgb(173, 96, 68);
}

.add-memory-form {
    /* border: 3px solid purple; */
    padding: 4%;
    background-color: rgb(58, 95, 125);
    margin: 1%;
    width: 100%;
}

.add-memory-text-label > ::placeholder {
    color:rgb(58, 95, 125);
}

.add-memory-errors-div {
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 5%;
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 24px;
}

.memory-text {
    margin: 10px;
    width: 85%;
    padding: 5%;
}

.memory-submit-button {
    /* background-color: rgb(173, 96, 68, .7); */
    float: right;
    background-color: rgb(173, 96, 68, .9);
    border-radius: 5px;
    border: 1px solid rgb(173, 96, 68);
    padding: 2%;
    margin-top: 2%;
    transition: ease .25s;
}

.memory-submit-button:hover {
    background-color: rgb(173, 96, 68, .9);
    border-radius: 5px;
    border: 1px solid rgb(173, 96, 68);
    transform: scale(1.05);
}
